/* Nunito and Popppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://db.onlinewebfonts.com/c/9d23cda2fd2a195a8467e0967debd4d3?family=Cera+Round+Pro+Bold');

body {
  font-family: "Cera Round Pro Bold", serif !important;
}


.border-bottom {
  border-bottom: 3px solid #d0cfcf !important;
}

.font-small {
  font-size: 16px;
}

.font-bold {
  font-weight: 900;
}

.font-poppins {
  font-family: 'Poppins', serif;
  font-weight: 700;
}

.text-secondary {
  color: #444444 !important;
}

.btn-primary {
  background-color: #596bfd !important;
}

.border-primary {
  border: 1px solid #596bfd !important;
}

.text-primary {
  color: #596bfd !important;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.quests-item .item-text .levels-progress.horizontal {
  margin-right: -13px;
  display: inline-block;
  width: calc(100% - 68px);
  vertical-align: middle;
  position: relative;
  background-color: #e3e1e1;
  font-size: 14px;
}

.quests-item .item-text .progress-icon {
  background-color: #e3e1e1;
}

.main-content {
  height: 100vh;
  overflow-y: auto;
}

.tablet-nav {
  padding: 3rem 5rem !important;
  position: relative;
  z-index: 999;
  height: 100vh;
  overflow-y: auto;
  transition: all 3s ease-in-out;
}

.fa-times {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.navbar-toggler {
  padding: 2px 4px;
}

.border_bottom {
  border-bottom: 1px solid #cbcaca;
}

.img-rotate {
  transform: translateY(62%);
  margin-right: -2.5rem;
  margin-bottom: 0rem;
}

.book-img {
  max-width: 130px;
}

.list-group-item {
  overflow: hidden;
}

.nav-link span:hover {
  color: blue !important;
}

.input-group > .form-control:focus {
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.read-btn {
  border-bottom: 4px solid #596bfd !important;
  padding: 10px 20px;
}

.read-btn:hover {
  background-color: #596bfd;
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .img-rotate {
    transform: rotate(-25deg);
    margin-right: -3.9rem;
    margin-bottom: -8rem;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .book-img {
    max-width: 80px;
  }

  .font-small {
    font-size: 12px;
  }
}

@media (min-width: 1600px) {
  .book-img {
    max-width: 100px;
  }

  .read-btn {
    padding: 14px 25px;
  }

  .font-small {
    font-size: 16px;
  }

  .nav-link {
    padding: 1rem 0;
  }
}
